name: Build and release applications

on:
  push:
    tags:
    - v*
  pull_request:
    branches: [main]

jobs:
  flutter_test:
    name: Run flutter test and analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: dart-lang/setup-dart@v1
      - uses: subosito/flutter-action@v1.4.0
        with:
          channel: stable
      - name: Adding service files
        run: echo ${{ secrets.GOOGLE_SERVICE_JSON }} | base64 --decode > android/app/google-services.json
      - name: Adding sign key properties
        run: echo ${{ secrets.KEY_PROPERTIES }} | base64 --decode > android/key.properties
      - name: Adding decoder
        run: echo ${{ secrets.ENCRYPT_KEY }} | base64 --decode > lib/.dart
      - name: Installing dependencies
        run: flutter pub get
      - name: Analyzing application code
        run: flutter analyze

  build-artifact:
    name: Build Android apk
    needs: [flutter_test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - name: Checkout Android Keystore
        uses: actions/checkout@v2
        with:
          repository: yahu1031/passman-keystore
          token: ${{ secrets.TOKEN }}
          path: android/keystore
      - uses: dart-lang/setup-dart@v1
      - uses: subosito/flutter-action@v1.4.0
        with:
          channel: stable
      - name: Adding service files
        run: echo ${{ secrets.GOOGLE_SERVICE_JSON }} | base64 --decode > android/app/google-services.json
      - name: Adding sign key properties
        run: echo ${{ secrets.KEY_PROPERTIES }} | base64 --decode > android/key.properties
      - name: Adding decoder
        run: echo ${{ secrets.ENCRYPT_KEY }} | base64 --decode > lib/.dart
      - name: Cleaning build files
        run: flutter clean
      - name: Installing dependencies
        run: flutter pub get
      - name: Building APK
        run: flutter build apk -t lib/main.dart --split-per-abi
      - name: Releasing APK
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/apk/release/*.apk"
          token: ${{secrets.TOKEN}}

  # build_ios:
  #   name: Build iOS application
  #   needs: [flutter_test]
  #   runs-on: macos-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-java@v1
  #       with:
  #         java-version: "12.x"
  #     - uses: dart-lang/setup-dart@v1
  #     - uses: subosito/flutter-action@v1.4.0
  #       with:
  #         channel: stable
  #     - name: Installing dependencies
  #       run: flutter pub get
  #     - name: Cleaning previous build files
  #       run: flutter clean
  #     - name: Building iOS application
  #       run: flutter build ios --release --no-codesign
