name: Build and release APK

on:
  push:
    tags:
    - v*
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: google/dart:latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1.4.0
        with:
          channel: "stable"
      - name: Adding service files
        run: echo ${{ secrets.GOOGLE_SERVICE_JSON }} | base64 --decode > android/app/google-services.json
      - name: Adding sign key
        run: echo ${{ secrets.SIGN_KEY }} > android/app/key.jks
      - name: Adding sign key properties
        run: echo ${{ secrets.KEY_PROPERTIES }} | base64 --decode > android/key.properties
      - name: Adding decoder
        run: echo ${{ secrets.ENCRYPT_KEY }} | base64 --decode > lib/.dart
      - name: Installing dependencies
        run: flutter pub get
      - name: Building APK
        run: flutter build apk -t lib/main.dart --split-per-abi
      - name: Releasing APK
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/apk/release/*.apk"
          token: ${{secrets.TOKEN}}
